<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlut.ResearchService.mapper.AuthorMapper">

    <select id="selectAuthorInfoById" resultType="com.dlut.ResearchService.entity.dao.Author">
        SELECT author_name, author_country, author_org, H, paper_count, paper_count_per_year
        FROM author
        WHERE author_id = #{authorId}
    </select>
    <select id="getCoAuthor" parameterType="java.util.List" resultType="java.lang.String">
        SELECT author_name FROM author
        WHERE author.author_id IN
        <foreach item = "item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
