<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlut.ResearchService.mapper.PaperMapper">
<!--    分页查询   -->
    <select id="pageQuery" resultType="com.dlut.ResearchService.entity.dao.Paper">
        select * from Paper limit #{current}, #{size}
    </select>
<!--  插入新纪录   -->
    <insert id="saveBatch" parameterType="java.util.List">
        insert into Paper(id,t1,WC,so,ESI,py) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.Title},
            #{item.wc}, #{item.Journal}, #{item.esi}, #{Year})
        </foreach>
    </insert>
<!--查询年份列表-->
    <select id="selectYearList" parameterType="java.util.List" resultType="map">
        SELECT py, COUNT(*) as yearCount from Paper
        Where id in #{idList}
        GROUP BY py ORDER BY py;
    </select>
<!--  PaperMap联合查询作者与关键词  -->
    <resultMap id="paperMap" type="com.dlut.ResearchService.entity.dto.PaperDto">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="Title" jdbcType="VARCHAR" property="title" />
        <result column="Year" jdbcType="INTEGER" property="year" />
        <result column="Journal" jdbcType="VARCHAR" property="journal" />
        <collection
                column="id" property="Authors"
                ofType="String" select="selectAuthorsById">
        </collection>
        <collection
                column="id" property="Keywords"
                ofType="String" select="selectKeywordsById">
        </collection>
    </resultMap>
    <resultMap id="authorMap" type="com.dlut.ResearchService.entity.dto.AuthorDto">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
    </resultMap>
    <!-- 按照ID查询Paper全部内容  -->
    <select id="selectPaperById" resultMap="paperMap">
        select * from Paper where id = #{id}
    </select>
    <!--  按照id列表查询paper的全部内容  -->
    <select id="selectPaperByIds" resultMap="paperMap">
        select * from Paper
        where id in
        <foreach collection="list" open="(" close=")" item="id" separator="," >
            #{id}
        </foreach>
    </select>
    <!-- 查询Paper的Authors内容  -->
    <select id="selectAuthorsById" resultMap="authorMap">
        SELECT Author.Name as name, Author.Organization as organization,
               Author.Country as country
        FROM paper_author
                 LEFT JOIN Author on Author.id=paper_author.Author_id
                 LEFT JOIN Paper on Paper.id=paper_author.Paper_id
        where Paper.id = #{id};
    </select>
    <!-- 查询Paper的Keywords内容 -->
    <select id="selectKeywordsById" resultType="String">
        SELECT Keywords.`Name` as Keyword
        FROM paper_keywords
                 LEFT JOIN Keywords on Keywords.id=paper_keywords.Keyword_id
                 LEFT JOIN Paper on Paper.id=paper_keywords.Paper_id
        where Paper.id = #{id};
    </select>
<!-- 按ID列表查询Paper内容  -->
    <select id="selectPaperByIdList" parameterType="list" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper
        where id in
        <foreach collection="list" open="(" close=")" item="id" separator="," >
            #{id}
        </foreach>
    </select>
<!-- 按期刊查找   -->
    <select id="selectByJournal" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper where so = #{Journal}
    </select>
<!-- 按ESI主题查找   -->
    <select id="selectByESI" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper where esi = #{ESI}
    </select>
<!-- 按WC主题查找   -->
    <select id="selectByWC" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper where wc = #{WC}
    </select>
<!--  按作者查询，需要写一个联合索引  -->
    <select id="selectByAuthor" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select *
        from Paper
        where id in
            (select Paper_id
             from paper_author
             where Author_id in
                (select id
                 from Author
                 where Name = #{name}
                 )
             )
    </select>
<!--  按年份查找  -->
    <select id="selectByYear" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper where py= #{Year}
    </select>
<!--  按关键词查找，需要写一个联合索引  -->
    <select id="selectByKeyword" resultMap="paperMap" resultType="com.dlut.ResearchService.entity.dto.PaperDto">
        select * from Paper where py= #{Year}
    </select>
    <select id="selectTitleAndId" resultType="hashmap">
        select id,t1 from Paper
    </select>
    <select id="selectMultiQuery">

    </select>
    <select id="selectIdByYear" resultType="java.lang.Integer">
        select id from Paper where py=#{Year}
    </select>
    <select id="selectIdByAuthor" resultType="java.lang.Integer">
        select id
        from Paper
        where
              (select Paper_id
               from paper_author
               where Author_id in
                     (select id
                      from Author
                      where Name = #{name}
                     )
              )
    </select>
    <select id="selectIdByWC" resultType="java.lang.Integer">
        select id from Paper where wc=#{WC}
    </select>
    <select id="selectIdByESI" resultType="java.lang.Integer">
        select id from Paper where esi=#{ESI}
    </select>
    <select id="selectIdByJournal" resultType="java.lang.Integer">
        select id from Paper where so=#{Journal}
    </select>
    <select id="selectIds" resultType="java.lang.Integer">
        select id from Paper where ${s}
    </select>


</mapper>
