<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlut.ResearchService.mapper.UserInfoMapper">
    <insert id="insert" parameterType="com.dlut.ResearchService.entity.dao.UserInfo">
        INSERT INTO RDService.sys_user(account, email, password, registration_time, last_login_time, status, avatar)
            values (#{account}, #{email}, #{password}, #{registrationTime}, #{lastLoginTime}, #{status}, #{avatar})
    </insert>
    <update id="updatePassword">
        update user_info
        set password = #{password}
        where email = #{email}
    </update>
    <update id="update">
        update user_info
        set password = #{password}, avatar = #{avatar}, nickName = #{nickName},
    </update>

    <select id="selectByEmailAndPassword" resultType="java.lang.Integer">
        SELECT 1
        from user_info
        where email = #{email}
          and password = #{password}
        limit 1
    </select>
    <select id="selectByAccountAndEmail" resultType="java.lang.Integer">
        select 1 from user_info where account != #{account} and email = #{email}
    </select>
    <select id="isEmailExit" resultType="java.lang.Boolean">
        SELECT 1 from sys_user where email = #{email} limit 1
    </select>
    <select id="selectByEmail" resultType="java.lang.Integer">
        SELECT user_id from user_info where email = #{email} limit 1
    </select>
    <select id="selectPasswordByEmail" resultType="java.lang.String">
        SELECT password from user_info where email = #{email}
    </select>
    <select id="checkStatusById" resultType="java.lang.Integer">
        SELECT status from user_info WHERE user_id = #{userId}
    </select>
    <select id="checkStatusByEmail" resultType="java.lang.Integer">
        SELECT status FROM user_info WHERE email = #{email}
    </select>
</mapper>
